html{
    background-color: lightseagreen;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    text-align: center;
    border-bottom: 3px solid green;
}
#Para_1{
    background-color: lightpink;
}
#Para_2{
    background-color: lightslategray;
}