*{
    padding: 0px;
    margin: 0px;
}


// -------------------------------------== mixin fuunctions==------------------------------------------------
@mixin for_anchor_tag{
    text-decoration: none;
    font-size: 30px;
    padding:  20px ;
    border:3px solid gold;
    border-radius: 50px;
    background-color: firebrick;
    color:white;
}


// --------------------------------------------== main code ==------------------------------------------------
.main{
    img{
        height: 100%;
        width: 100%;
    }
    .button{
        .base-one{
            position: relative;
            top:-8em;
            display: flex;
            justify-content: space-around;
        }
        .base-two{
            display: flex;
            justify-content: space-around;
        }
        .base-three{
            @extend .base-two;
            margin:2em 0;
        }
        a{
            position: relative;
           @include for_anchor_tag;
           transition: all .4s linear .2s;
           color: rgb(241, 231, 231);
           &:hover{
               background-color: rgb(88, 83, 83);
               color: white;
               box-shadow: 2px 10px 30px green;
           }
        }
    }
    .links{
        display: flex;
        justify-content: center;
        h1{
            top:20px;
            position: absolute;
            font-size: 50px;
            color: rgb(17, 174, 226);
            text-transform: capitalize;
        }
    }
}


//--------------------------== media qurie start from here ==-----------------------------------------------
@media(min-width:1025px) and (max-width:2560px) {
    body{
        width: 70vw;
        margin:0 auto;
        .main{
            .links{
                h1{
                    font-size: 3vw;;
                }
            }
            .button{
                .base-one, .base-two, .base-three{
                    a{
                        width: 100%;
                        margin:2em 3.5em;
                    }
                }
                .base-two, .base-three{
                    a{
                        white-space: normal;
                    }

                }
            }
        }
    }
}

@media(min-width:768px) and (min-width:1024px) {
    .main{
        .links{
            h1{
                font-size: 2em;;
            }
        }
        .button{
            position: relative;
            .base-two, .base-three{
                position: relative;
                top:-6em;
            }
            .base-one, .base-two, .base-three{
                a{
                    font-size: 1.2em;
                    margin:1em 1.5em;
                    text-align: center;
                }
            }
        }
    }
}

@media(min-width:0) and (max-width:767px) {
    .main{
        .links{
            h1{
                font-size: 2em;;
            }
        }
        img{
            display: none;
        }
        .button{
            position: relative;
            top:7em;
            .base-two, .base-three{
                position: relative;
                top:5em;
            }
            .base-one, .base-two, .base-three{
                display: flex;
                flex-direction: column;
                top:3em;
                a{
                    font-size: 1.2em;
                    margin:1em 1.5em;
                    text-align: center;
                }
            }
        }
    }
}