$links_h1:rgb(17, 174, 226);

*{
    padding: 0px;
    margin: 0px;
}
img{
    height: 99.6vh;
    width: 99.5vw;
}
.links{
    display: flex;
    justify-content: center;
    h1{
        top:20px;
        position: absolute;
        font-size: 50px;
        color: $links_h1;
        text-transform: uppercase;
    }
}

@media screen and (max-width:480px){
    .main{
        img{
            width:100vw;
        }

        .links{
            h1{

                font-size: 25px;
                color:$links_h1
            }
        }
    }
}