$links_h1:rgb(17, 174, 226);

*{
    padding: 0px;
    margin: 0px;
}

@mixin for_anchor_tag{
    text-decoration: none;
    font-size: 30px;
    padding:  20px ;
    border:3px solid gold;
    border-radius: 50px;
    background-color: firebrick;
    color:white;
}


img{
    height: 99.6vh;
    width: 100%;
}
.button{
    position: absolute;
    margin:37rem 0;
    a{
       @include for_anchor_tag;
    }
    .html{
        margin-left:11rem;
    }
    .css{
        margin-left: 22rem
    }
    .java{
        margin-left: 19rem;
    }
}
.links{
    display: flex;
    justify-content: center;
    h1{
        top:20px;
        position: absolute;
        font-size: 50px;
        color: $links_h1;
        text-transform: uppercase;
    }
}

.advance_js{
    a{
       @include for_anchor_tag;
       position: relative;
       top:2rem;
       right:-3em
    }
}

.TODO-list{
    margin-left:39em;
    a{
        @include for_anchor_tag()
    }
}

.res-web{
    // display: inline;
    margin: -2.5em 0 0 65em;
    a{
        @include for_anchor_tag;
    }
}