*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin for-label{
    text-transform: uppercase;
}

@mixin for-main-div{
    margin: 0 4em;
    align-items: center;
    padding:20px;
}

@mixin for-input-field{
    border-radius: 20px 10px;
    border: none;
    padding: 10px 5px ;
    outline: none;
    caret-color: red;
    font-size: 20px;
}

@mixin for-buttons {
    padding: 10px;
    background-color: lightseagreen;
    color: white;
    text-transform: uppercase;
    border-radius: 10px 5px;
    cursor: pointer;
    margin:0 2em ;
}

body{
    background-color: lightgreen;

    .input_container{
        @include for-main-div;
        label{
            @include for-label;
        }
        .input{
            @include for-input-field;
        }
        .addButton{
            @include for-buttons;
        }
    }

    .data_container{
        margin: 1.3em 12.5em;
        .item{
            display: flex;
            
            @include for-main-div;
            // label{
            //     @include for-label;
            // }
            .item_input{
                @include for-input-field;
            }
            .item{
                @include for-buttons;
            }
        }
    }
}