*{
    padding: 0px;
    margin:0px;
}
body{
    background-image: url("arc-2.jpeg");
    background-repeat: no-repeat;
    background-position: 50% 25vh ;            /* 50% 50% also work*/
    background-origin: content-box;
    // background-size: 1000px 600px;
    background-color: lightseagreen;

}

header{
    font-size: 1.2rem;
    float: right;
    padding-right: 55.62rem;
    background-color: black;
    ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: capitalize;
        list-style-type: none;
        color: red;
        text-decoration: none; /* overline work here */
    }
    
    ul:hover{
        color: white    ;
    }
    li{
        word-spacing: 20px;
        padding:10px .8rem ;
    }
}