$background-color:#a19f9f;
$color-black:black;
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}


header{
    width:100%;
    .menu-bar{
        display: flex;
        justify-content: space-between;
        box-shadow: 0 3px 10px gray ;
        padding:1.5rem;
        .main-logo{
            a{
                text-decoration: none;
                font-size: 2rem;
                color: $color-black;
                margin:0 2.8em;
            }
        }
        
        .right-side{
            li{
                list-style: none;
                a{
                    padding:20px;
                    text-decoration: none;
                    span{
                        padding: 10px 20px;
                        border-radius: 50px 50px;
                        border: 2px solid $color-black;
                    }
                }
            }
        }
    }
}

.list{
    margin:0 2em;
    display: flex;
    padding: 20px 4em;
    list-style: none;
    li{
        padding: 0 20px;
        a{
            text-decoration: none;
        }
    }li:hover{
        text-decoration: underline;
        color: red;
    }
}

.flex{
    display: flex;
    .left-content{
        width:80%;
        margin:0 2.8em;
        border-right: 1px solid $background-color;
        padding: 0 2%;
        hr{
            width:92%;
            padding: 0 4%;
            margin-left:2em
        }
        .card{
            margin: 2em;
            display: flex;
        }

        .left-li{
            a{
                text-decoration: none;
            }
        }

        .left-list{
            display: flex;
            justify-content: space-evenly;
            margin: 1.2em 0;
            .words{
                background-color: rgb(197, 195, 195);
                border-radius: 20px;
                padding: 2px 5px;

            }
            li{
                list-style: none;
            }
            a{
                text-decoration: none;
            }
        }
    }

    $right-content-header-margin:2em 1.6em;
    .right-content{
        width:31%;
        bottom: 4em;
        .sticky-div{
            position: sticky;
            top:2em;
            hr{
                width: 90%;
            }
            .right{
                text-align: center;
                i{
                    padding: 10px 0;
                    color: blue;
                    font-size: 30px;
                }
                p{
                    padding: 10px 0;
                }
                button{
                    border-radius: 50px;
                    border: 2px solid gray;
                    padding:0.2em 1em;
                    .span{
                        position: relative;
                        top:-.5em;
                    }
                }
                a{
                    padding: 10px 0;
                    display: block;
                }
            }
            .right-1{
                h5{
                    margin: $right-content-header-margin;
                }
                ul{
                    margin: 2em 0;
                    div{
                        display: flex;
                    }
                    li{
                        list-style: none;
                        margin: 1em 0.2em;
                        a{
                            border-radius: 50px;
                            background-color: #f1efef;
                            padding:10px 20px;
                            text-decoration: none;
                        }
                    }
                }
            }
            .right-2{
                h5{
                    margin:$right-content-header-margin;
                }
                .cards{
                    .common-cards{
                        display: flex;
                        margin:2em 0;
                        img{
                            width:50px;
                            height:50px;
                            border: 2px solid red;
                            border-radius: 50%;
                        }
                        .cards-info{
                            margin: 0 2em;
                            p{
                                font-size: 12px;
                            }
                            .name{
                                font-size: 15px;
                                padding: 5px 0;
                                font-weight: bold;
                            }
                        }
                        button{
                            padding: 5px 20px ;
                            margin: 1em 1em 0 0;
                            border-radius: 60px;
                            border: 1px solid gray;
                            a{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
            .right-3{
                h5{
                    margin: $right-content-header-margin;
                }
                p{
                    font-weight: lighter;
                    width: 70%;
                    margin:0 0 20px 2em;
                    word-spacing: .2em;
                }
            }
            footer{
                margin:0 4em ;
                ul{
                    display: flex;
                    margin:5em 0;
                    li{
                        list-style: none;
                        padding: 10px 0;
                        a{
                            padding:0 20px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:830px){
    .right-content{
        display: none;
    }
}